spring:
  application:
    name: athleticaos-backend
  profiles:
    active: dev
  jpa:
    open-in-view: false
    properties:
      hibernate:

  flyway:
    enabled: true
    locations: classpath:db/migration

server:
  port: 8080

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui/index.html
